.tab_list{
    background-color: white;
    width: 96%;
    margin-left: 2%;
    border-radius: 5px;
    margin-top: -4px;
}

.tab_list_{
    background-color: white;
    width: 96%;
    margin-left: 2%;
    border-radius: 5px;
    margin-top: 8px;
}

.tab_list_title{
    width: 94%;
    margin-left: 3%;
    /*padding-top: 3px;*/
    /*padding-bottom: 2px;*/
}

.tab_list_title img{
    position: relative;
    top: 5px;
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.tab_list_text{
    width: 94%;
    margin-left: 3%;
    font-size: 13px;
    padding-bottom: 10px;
    margin-top: -2px;
}

.tab_list_info{
    width: 100%;
}

.tab_list_info_headimgurl{
    padding-top: 8px;
    padding-left: 5px;
    float: left;
}

.tab_list_info_headimgurl img{
    width: 45px;
    height: 45px;
    border-radius:50%
}

.tab_list_info_more{
    margin-top: 3px;
    float: left;
    width: 80%;
}

.tab_list_info_more_first{
}

.tab_list_info_more_song{
    font-size: 16px;
    position: relative;
    top:5px;
    margin-left: 10px;
}

.tab_list_info_more_stage{
    float: right;
    font-size: 13px;
    color: #dbdbdb;
    margin-top: 4px;
}

.tab_list_info_more_songer{
    margin-left: 10px;
    font-size: 12px;
    color: #999999;
}

.tab_list_info_more_time{
    float: right;
    font-size: 13px;
    color: #999999;
    margin-top: 4px;
}

.tab_list_detail{
    margin-top: 5px;
}

.tab_list_detail_text {
    width: 94%;
    margin-left: 3%;
    font-size: 14px;
    padding-top: 5px;
    color: #999999;
}

.tab_list_border{
    width: 98%;
    margin-left: 2%;
    border-bottom: thin solid  #c1c2be;
    /*color: #c1c2be;*/
    clear: left;
}

.weui_navbar_item {
    padding: 6px 0;
}
#point1{
    border-bottom: solid #04be02;
    color: #04be02;
}

.heart {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../image/heart.png") no-repeat;
    background-position: 0 0;
    background-size: auto 40px;
    cursor: pointer;
    -webkit-transition: background-position 1s steps(28);
    transition: background-position 1s steps(28);
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.heart.is-active {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-position: -1120px 0;
}

.stage {
    position: relative;
    width: 40px;
    height: 40px;
    left: 80%;
}

.heart_count{
    padding-left: 30px;
    padding-top: 8px;
}

.song{
    position: fixed;
    top: 80%;
    left: 80%;
}

.song img{
    width: 45px;
    height: 45px;
}
.hid{
    display: none;
}